HTML CSSResult EDIT ON @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
/* ================================= 
  Base Layout Styles
==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
p,
a,
button {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 2em;
  padding: 10px 0;
  font-weight: 800;
}

.quote,
p {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.banner {
  width: 70%;
  height: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 30% 10% 10% 10%;
}

.wrapper {
  /* width: 100%;
  /* height: 400px;
  display: table; */
  width: 100%;
  height: 100%;
  text-align: center;
  /* background: #33cccc; */
  background-image: linear-gradient(rgb(0, 81, 255), rgb(0, 255, 242));
  color: white;
  padding: 10% 0;
}



section {
  /* display: table-cell; */
  vertical-align: middle;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 0 20px;
  border-radius: 10px;
  text-decoration: none;
  height: 50px;
  line-height: 47px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}

.btn-bgstroke:hover {
  border: 1px solid white;
  background-color: white;
  color: #33cccc;
}

/* ================================= 
  Media Queries
==================================== */

/* the mobile first approach uses the min-width , sice building the layout up from narrow screens to wider screen */

/* targeting to affect any screen 769px or wider */
@media (min-width: 769px) {
  /* this is for overrides and larger layout styles in this media queries */

  .container {
    width: 100%;
    margin: 0 auto;
    /* max-width: 1000px; so the layout container doesnt get wider than 1000px in large screens*/
    max-width: 1000px;
  }

  h1 {
    font-size: 4em;
    padding: 10px 0;
    font-weight: 300;
  }

  .quote,
  p {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 5px;
  }

  .banner {
    width: 100%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 00%;

  }
}